.search_section {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.search_icon {
    background-color: rgb(76, 128, 192);
    color: #43b1f6;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search_input_div {
    background-color: rgb(250, 246, 246);
    margin-bottom: 20px;
    border-radius: 5px;
    width: 250px;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_input {
    flex: 1;
    padding: 0 10px;
    font-size: 15px;
    background-color: transparent;
    border: none;
}

.search_result {
    background: rgb(42, 40, 40);
    width: 250px;
    margin-top: 10px;
    position: absolute;
    top: 70px;
}

.search_result::-webkit-scrollbar {
    display: none;
}

.search_suggestion_line {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    display: block;

}

.search_suggestion_line:hover {
    background: rgb(61, 52, 52);
}


.search_suggestion_line_custom {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    transition: background 0.2s;
}

.search_suggestion_line_custom:last-child {
    border-bottom: none;
}

.search_suggestion_line_custom:hover {
    background: #4c7993;
}

.search_thumb_custom {
    width: 55px;
    height: 64px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 12px;
}

.search_info_custom {
    display: flex;
    flex-direction: column;
}

.search_title_custom {
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 4px;
}

.search_sub_custom {
    color: #bdbdbd;
    font-size: 0.95rem;
}

.search_enter_custom {
    background: #ff2e2e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    margin-top: 4px;
}